.signup-logo-image {
    width: 357px;
}
.signup-logo-area {
    text-align: center;
}
.button-area {
    text-align: center;
}
.signup-btn {
    width: 300px;
}
.login-btn {
    width: 300px;
}
.agreement-checkbox-area {
    height: 60px;
    vertical-align: center;
}