#map {
    height: 100%;
}
.delivery-confirm-modal-btn-area {
    text-align: center;
}
.delivery-confirm-price {
    text-align: right;
}
.modal-item-label {
    font-weight: bold;
    font-size: 24px;
}
.modal-item-value {
    font-weight: bold;
    font-size: 24px;
}
#pickupCompleteModal .pickup-dialog-order-shorten-id {
    font-weight: bold;
    font-size: 24px;
}
#deliveryCompleteEventModal .order-shorten-id {
    font-weight: bold;
    font-size: 24px;
}

/* 모달 하단 출력을 위한 CSS */
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,50px);
}

.modal-dialog {
    position: fixed !important;
    bottom: 0 !important;
    left: 0% !important;
    right: 0% !important;
    margin-bottom: 0 !important;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
